html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
	margin-bottom: 30px;
}




#footer_video_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28px;
  background-color: #3F3F3F;
  color: #FFFFFF;
  font-size: 13px; font-weight: bold;
  line-height: 28px;
  text-align: center;
}
#main_video_container {
  background-color: #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  -webkit-perspective: 1000;
}
#card_video_container {
  -webkit-transition-duration: 2s;
  -webkit-transform-style: preserve-3d;
}
#local_video {
  position: absolute;
  width: 100%;
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -webkit-backface-visibility: hidden;
}
#remote_video {
  position: absolute;
  width: 100%;
  -webkit-transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
}
#mini_video {
  position: absolute;
  height: 30%;
  width: 30%;
  bottom: 32px;
  right: 4px;
  opacity: 1.0;
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
}
#local_video {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}
#remote_video {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}
#mini_video {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}
#hangup {
 font-size: 13px; font-weight: bold;
 color: #FFFFFF;
 width: 128px;
 height: 24px;
 background-color: #808080;
 border-style: solid;
 border-color: #FFFFFF;
 margin: 2px;
}
#info_video_container {
  position: absolute;
  float: right;
  background-color: grey;
  margin: 2px;
  display: none;
}

